/**=========================================================================
                  POST STYLES
=========================================================================**/

.posts{
  display: block;
  max-width: 100%;
  width: 70%;
}